<template>
  <div><font-awesome-icon icon="code"/>with<font-awesome-icon icon="fish"/>·<slot/></div>
</template>

<script>
import {library} from "@fortawesome/fontawesome-svg-core"
import {faFish, faCode} from "@fortawesome/free-solid-svg-icons"
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome"
library.add(faFish)
library.add(faCode)

export default {
    components: {FontAwesomeIcon}
}
</script>

<style>

</style>